<div class="form-group">
  <img [src]="product.imageUrl" alt="flower" class="form-control">

</div>
<div class="form-group">
  <button class="form-control" [ngStyle]="{'background-color':countToBuy=== product.inStock ? 'red' : 'green' }"
  (click)="increment()" [disabled]="countToBuy=== product.inStock">increment</button>
  <button class="form-control" [ngStyle]="{'background-color':countToBuy===0 ? 'red' : 'green' }"
  (click)="decrement()" [disabled]="countToBuy=== 0">decrement</button>
  <button class="form-control">buy</button>
  <div class="form-control">in Stock: {{product.inStock}} price: {{product.price}}</div>
  <div class="form-l">countToBuy: {{countToBuy}}</div>
</div>
