<div class="row">
  <div class="col-md-4">
    <div>
      <form [formGroup]="postForm" class="bg-primary" #postf (ngSubmit)="postHandler()">
          <div>
              <label for="postMessage">Your message:</label>
              <textarea type="text" formControlName="postMessage" #postMessage rows="10" mdbInput ></textarea>
          </div>
          <div>
              <label for="author">Written by:</label>
              <input type="text" formControlName="author" #author >
          </div>
          <button class="bg-danger">Create post:</button>
      </form>
    </div>
    <div class="post-container">
      <div *ngFor="let post of allposts">
        <app-all-posts [post] = "post"></app-all-posts>
      </div>
    </div>
  </div>
  <div class="col-md-8 bg-danger">
  </div>
</div>
